<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

  <appSettings>
    <!--事件数据库连接字符串-->
    <!--<add key="EventDBConnectStr" value="Data Source=192.168.2.18,1433;Initial Catalog=ServerModdlewareTestDB;Persist Security Info=True;User ID=sa;Password=security999!"></add>-->
    <add key="SM_EventDBConnectStr" value="Data Source=127.0.0.1,1433;Initial Catalog=SK_CKAlarm;Persist Security Info=True;User ID=sa;Password=security999"></add>
    <add key="SM_ServerAddress" value="192.168.137.1"></add>
    <add key="SM_ServerPort" value="6800"></add>
    <add key="SM_SyncIDFlag" value="0"></add>
    <add key="SM_AutoAddNewLine" value="false"></add>
  </appSettings>
</configuration>
